@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.wallet__section{
  /* margin: auto auto; */
  /* margin-top: 0rem; */
  /* width: fit-content; */
}


@media only screen and (max-width: 768px) {
  .wallet__section {
    
    margin: auto auto;
    margin-top: 2.55rem;
    
  }
}
