@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

@media only screen and (max-width: 768px) {
  .wallet__section {
    margin: auto auto;
    margin-top: 2.55rem;
  }
}

.navbar__component {
  display: flex;
  justify-content: space-between;
}

.payment__card {
  margin: auto;
}

.card__container {
  display: flex;
  justify-content: space-between;
}

.card__content__section {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2.55rem;
}
