@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

/* .main__container {
 display: flex;
} */

.wallet__section{
  /* margin: auto auto; */
  /* margin-top: 0rem; */
  /* width: fit-content; */
}


@media only screen and (max-width: 768px) {
  .wallet__section {
    
    margin: auto auto;
    margin-top: 2.55rem;
    
  }
}


.navbar__component{
 display: flex;
  justify-content: space-between;
}

.payment__card{

  margin: auto;
}